body{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.container::first-letter{
font-style: oblique;
color: blue;
font-size: larger;
}
.container>span{
    color: red;
}
.container img{
    width: 100%;
    height: 80%;
    object-fit: cover;
    position: relative;
    margin-top: auto;
}
.container h2{
    background-color: #fff;
    text-align: center;
    font-weight:bold;
    font-family:  sans-serif;
    color: blueviolet;
}
.footerBottom{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    align-items: flex-end;
    font-weight:bold;
}